<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.musicplayer1">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:name=".App"

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".activity.SplashActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity"></activity>
        <service android:name=".service.Mp3Service"></service>
        <activity android:name=".activity.PlayActivity"></activity>
        <activity android:name=".activity.ArtistActivity"></activity>
        <activity android:name=".activity.LoginActivity"></activity>


        <receiver android:name=".service.MP3Receiver">
            <intent-filter>
                <!--đăng ký các action trong hệ thống cho ứng dụng-->
                <action android:name="android.intent.action.AIRPLANE_MODE"></action>
                <action android:name="android.intent.action.BATTERY_LOW"></action>
                <action android:name="android.intent.action.SCREEN_OFF"></action>
                <action android:name="android.intent.action.SCREEN_ON"></action>
            </intent-filter>
        </receiver>


    </application>

</manifest>